body{
  margin: 0px;
  padding: 0px;
  font-family: Geneva, Helvetica, sans-serif;
}
.App-container{
  max-width: 410px;
  height: 100%;
  border: 1px solid black;
  margin: auto;
  font-size: 20px;
}
.header{
  background-color: white;
  font-weight: 800;
  color: black;
  margin: 0px;
}
h1{
  font-size: 26px;
  width: 100%;
  background-color: rgb(37, 78, 154);
  color: white;
  margin: 0px;
  margin-bottom: 8px;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 0.3em;
}
ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.header-menu{
  display: inline-block;
  margin: 5px;
  padding: 5px;
  background-color: white;
}
a{
  text-decoration: none;
}